<div class='card'>
  <div class='card-header'>
    {{pagetitle}}
  </div>
  <div class='card-body'>
    <div class='row'>
      <div class='col-md-2'>Filter by:</div>
      <div class='col-md-4'>
        <input type='text' [(ngModel)]="listFilter" (ngModelChange)="test()"/>
      </div>
    </div>

    <div class='row'></div>

    <div class='col-md-6'>
      <h4>Filtered by:{{listFilter}}</h4>
    </div>
  </div>
  <div class='table-responsive'>
    <table class='table' *ngIf="products.length">

      <thead>
        <tr>
          <th>
            <button class='btn btn-primary' (click)="toggleImage()">
              {{showImage ? 'Hide' : 'show'}} Image
            </button>
          </th>
          <th>Product</th>
          <th>Code</th>
          <th>Available</th>
          <th>Price</th>
          <th>5 Star Rating</th>
          </tr>
      </thead>
      <tbody>
        <tr *ngFor="let Product of products">
          <td>

            <img *ngIf="showImage" [src]="Product.imageUrl" [title]="Product.productName" [style.width.px]="imagewidth"
              [style.margin.px]="imageMargin">

          </td>
          <td>{{Product.productName}}</td>
          <td>{{Product.productCode |lowercase}}</td>
          <td>{{Product.releaseDate}}</td>
          <td>{{Product.price | currency:'USD':'symbol':'1.2-2'}}</td>
          <td>{{Product.starRating}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>